{% extends 'base.html' %}
{% block title %}{{ changedetail }}{% endblock %}
{% block albums_active %}active{% endblock %}

{% block body %}
<div class="container-fluid songs-container">

    <div class="row">

        <div class="col-sm-8 col-md-9">

            <ul class="nav nav-pills" style="margin-bottom: 10px;">
                <li role="presentation" class="active">
                    <a href="{% url 'index' %}">View All</a>
                </li>
                <li role="presentation"><a href="{% url 'change-add' %}">Add New Change</a></li>
            </ul>

            <div class="panel panel-default">
                <div class="panel-body">

                    <h3><font size="6">Change detail</font></h3>

                    {% if error_message %}
                    <p><strong>{{ error_message }}</strong></p>
                    {% endif %}

                    <table class="table">
                        <thead>
                        <tr>
                            <th><font size="4">Title</font></th>
                            <th><font size="4">Amount</font></th>
                            <th><font size="4">Revenue</font></th>
                            <th><font size="4">Description</font></th>
                        </tr>
                        </thead>
                        <tbody>

                        <tr>
                            <td><strong>{{ changedetail.title }}</strong></td>
                            <td><strong>{{ changedetail.amount }} <strong> zł</strong></td>
                            <td>
                                <strong>
                                    {% if changedetail.revenue is True %}
                                        Yes
                                    {% endif %}
                                    {% if changedetail.revenue is False %}
                                        No
                                    {% endif %}
                                </strong>
                            </td>
                            <td><strong>{{ changedetail.description }}</strong></td>
                            <td>
                                <form action="{% url 'change-remove' changedetail.change_detail_id %}" method="post"
                                      style="display: inline;">
                                    {% csrf_token %}
                                    <input type="hidden" name="changedetail.change_detail.id"
                                           value="{{ changedetail.change_detail_id }}"/>
                                    <button type="submit" class="btn btn-default btn-xs">
                                        <span class="glyphicon glyphicon-remove"></span>&nbsp; Delete
                                    </button>
                                </form>
                                <a href="{% url 'change-update' changedetail.change_detail_id %}">
                                    <button type="submit" class="btn btn-default btn-xs">
                                        <span class="glyphicon glyphicon-arrow-up"></span>&nbsp; Update
                                    </button>
                                </a>
                            </td>
                        </tr>

                        </tbody>
                    </table>

                </div>
            </div>

        </div>

    </div>

</div>

{% endblock %}